#################################################################################
#  Copyright (c) 2024 Bayerische Motoren Werke Aktiengesellschaft (BMW AG)
#
#  See the NOTICE file(s) distributed with this work for additional
#  information regarding copyright ownership.
#
#  This program and the accompanying materials are made available under the
#  terms of the Apache License, Version 2.0 which is available at
#  https://www.apache.org/licenses/LICENSE-2.0.
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#  License for the specific language governing permissions and limitations
#  under the License.
#
#  SPDX-License-Identifier: Apache-2.0
#################################################################################

---
version: 2
updates:
  # Maven
  -
    package-ecosystem: "gradle"
    target-branch: main
    directory: /
    labels:
      - "dependabot"
      - "dependencies"
    schedule:
      interval: "weekly"

  # Github Actions
  -
    package-ecosystem: "github-actions"
    target-branch: main
    directories:
      - "/"
      - "/.github/actions/*"
    labels:
      - "dependabot"
      - "github-actions"
    schedule:
      interval: "weekly"

  # Docker
  -
    package-ecosystem: "docker"
    target-branch: main
    directories:
      - "runtimes/bdrs-server/src/main/docker"
      - "runtimes/bdrs-server-memory/src/main/docker"
      - "extensions/store/sql/did-entry-store-sql/src/test/resources"
    labels:
      - "dependabot"
      - "docker"
    schedule:
      interval: "weekly"
